new!

<form action="/puppy" method="post">
<label>Name:</label>
<input type="text" placeholder="name" name="puppy[name]">
<label>Breed:</label>
<input type="text" placeholder="breed" name="puppy[breed]">
<label>Age:</label>
<input type="text" placeholder="age" name="puppy[age]">
<input type="submit">
</form>